Hey <%= @contact.first_name %>!

It was great to meet you at the General Assembly web developer hiring event. I'd love to stay in touch.

If you're interested, a portfolio of my projects is available <a href='http://aurorayes.com'>online</a> and you can view all of my code <a href='https://github.com/auroranou'>on Github</a>.

Please feel free to contact me at <a href='mailto:auroranou@gmail.com'>auroranou@gmail.com</a> or by phone at 301-275-8615. Hope you have a great weekend!

Aurora
