<!doctype html>
<html>
<head>
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
</head>
<body>
  <p>Hey <%= @contact.first_name %>!</p>
  <p>It was great to meet you at the General Assembly Meet and Hire event. I'd love to stay in touch.</p>
  <p>If you're interested, </p>
</body>
</html>